body{
    overflow-x: hidden;
    background-color: black;
    /*background-color: rgb(188, 238, 188);*/
    margin:0px;
    padding: 0px;
    color:white;
    margin: auto;
    
}

.background{
    background-blend-mode: darken;
    background-size: cover;
    height: 90px;
    margin-top: 0px
}
nav ul{
    list-style: none;
}
.navbar{
    display: flex;
    
    align-items: center;
    justify-content: center;
    top: 0px;
    cursor: pointer;
    color:white;
    
}
.navlist{
    display: flex;

    
    
}
.navlist li{
    font-size: 20px;
}
.l1{
    width: 50%;
}
.l2{
    width: 500px;
}
.l3{
    width: 400px;
}
.navlist .l4{
    padding-right: -200px;
}
.navlist li{
    list-style: none;
    padding: 2%;
} 
.navlist li a{
    text-decoration: none;
    color: #59BAB8;
    
}
.navlist li a:hover{
    color: black;
}

header{
    font-size: larger;
}
h1{
    margin: 15px;
    color: white;
}
h3{
    font-family: cursive;
}

p{
    font-size: large;
    font-weight: bold;
    background: -webkit-linear-gradient(right,#F4357A,#E726E0);
    z-index: -1; 
 
  
    width: fit-content;
    padding:10px;
    border-radius: 10px;
}
.account-related{
    margin:10px;
    padding:10px;
    border:0px;
    display: flex;
    height: 100px;
    flex-direction: column;
    justify-content: space-around;
}
.basic-info{
    margin-left: 60%;
    margin-top: -200px;
}
.Optional{
    margin-left:5%;
    margin-top: -400px;
}
div{
    color: #59BAB8;
}
.partner{
    display: flex;
    /*width: 70%;*/
    justify-content: space-between;
    flex-wrap: wrap;
    gap:15px;
}
.partner input{
    width:50px;
}





.acc-related{
    margin-left: 5%;
}



.upload-photo{
    width: 200px;
    min-height: 40vh;
    border:solid 3px;
    border-radius: 30px;
    display:grid;
    justify-items: center;
    align-items: center;
}
.upload-photo input{
    display: none;
}

.radio label{
    display: block;
    padding-left:40px;
    padding-top:15px;
    padding-bottom:15px;
    background-color: #d66d29;;
    border:10px solid rgba(255,255,255,0.1);
    border-radius: 25px;
    position:relative;
    cursor: pointer;
    font-size: medium;
    width:250px;
    white-space: nowrap;
}
.radio label input[type=radio]{
    display: none;
    
}
.optional input[type=radio]{
    display: none;
}


.radio span{
    height: 20px;
    width: 20px;
    border-radius: 50%;
    position: absolute;
    border: solid 1px #d66d29;;
    left:10px;
    top:10px;
    display: block;
}
.radio span:after{
    content: " ";
    background:white;
    width: 10px;
    height: 10px;
    display: block;
    position: absolute;
    left: 50%;
    top:50%;
    transform: translate(-50%,-50%) scale(0);
    border-radius: 50%;
    transition: 300ms ease-in-out 0s;
}
.radio input[type=radio]:checked~span:after{
    transform: translate(-50%,-50%) scale(1);
}



.Hobbies label:before{
    content:'';
    background-color: #c4b38a;
}
.Hobbies .container:hover{
    background-color:#E726E0;
}
.Hobbies label input[type="checkbox"]:checked~.container{
    border:#E726E05 solid;
    color:#E726E0;
    font-weight: bold;
}
.Hobbies input[type="checkbox"]{
    display:none;
}
.Hobbies iconify-icon{
    font-size: 25px;
}

.inner button{
   background: -webkit-linear-gradient(right,#F4357A,#E726E0);
   z-index: -1; 
   border-radius: 25px;
}
.save{
    font-size: 19px;
    font-style: sanserif;
    margin-top: 30px;
    margin-left: 5%;
    color: white;
}
#delete-account-btn{
    width: 8.5%;
    height: 4%;
   
    color: white;
    border-radius: 20px;
    padding:10px;
    font-size: 12px;
    
    margin-left: 80%;
}
#delete-account-btn:hover{
    background-color: white;
    color: #59BAB8;
}
.bio input[type=text ]{
   height: 50px;
   max-width: 300px;
   border-radius: 20px;
}
input{
    color: white;
    background-color: #E726E0;
}




@media only screen and (min-width: 800px) {
    .basic-info,.partner {
      width: 70%;
    }
  }



  